node-red/flow.txt
[{"id":"78cca71a.55c558","type":"function","z":"9d55930c.9acd","name":"Construct msg[] for bar graph","func":"var ma = [], i, v, len;\nfor (len = msg.payload.d.FreqArray.length, i = 0; i < len; i += 2) {\n    if (msg.payload.d.Freq === 0)\n        v = 0;\n    else {\n        if (msg.payload.d.FreqArray[i].v > msg.payload.d.FreqArray[i+1].v)\n            v = msg.payload.d.FreqArray[i].v;\n        else\n            v = msg.payload.d.FreqArray[i+1].v;\n    }\n    ma[i/2] = {'payload':v,\n    'topic':Math.round((msg.payload.d.FreqArray[i].f + \n                        msg.payload.d.FreqArray[i+1].f)/2)\n    };\n}\nreturn [ma];","outputs":1,"noerr":0,"x":485,"y":155.99998474121094,"wires":[["cf8c0742.60c01"]]},{"id":"cf8c0742.60c01","type":"ui_chart","z":"9d55930c.9acd","name":"Frequency Distribution","group":"85f5b8a7.0391d8","order":1,"width":"0","height":"0","label":"Frequency Distribution","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No valid data","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff0000","#0080ff","#00ff00","#ff8000","#cc66ff","#ff6fcf","#66ff66","#66ffff","#ffcc66"],"x":807,"y":166.57142639160156,"wires":[[],[]]},{"id":"ead10606.cb35d8","type":"ibmiot in","z":"9d55930c.9acd","authentication":"apiKey","apiKey":"1c1499a4.949a2e","inputType":"evt","deviceId":"VIBE005","applicationId":"","deviceType":"VIBRATION","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":55,"y":164,"wires":[["f6306e46.3b1ee8","6c69defc.a6fa48"]]},{"id":"78c2692d.ab21c8","type":"function","z":"9d55930c.9acd","name":"Zero array","func":"    msg.payload = [];\n    return msg;","outputs":1,"noerr":0,"x":327.00000381469727,"y":48,"wires":[["1028600c.cff4e8"]]},{"id":"8f0448c4.34f778","type":"ui_gauge","z":"9d55930c.9acd","name":"","group":"85f5b8a7.0391d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Frequency","label":"Hz","format":"{{value}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":777.7380981445312,"y":269.76190185546875,"wires":[]},{"id":"60cf4d3e.b9f0e4","type":"ui_chart","z":"9d55930c.9acd","name":"Amplitude","group":"4c123126.3ba278","order":1,"width":0,"height":0,"label":"Amplitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":778.452392578125,"y":201.00003051757812,"wires":[[],[]]},{"id":"b0eb55e0.947208","type":"function","z":"9d55930c.9acd","name":"Extract frequency","func":"msg.payload = msg.payload.d.Freq;\nmsg.topic = \"Frequency\";\nreturn msg;","outputs":1,"noerr":0,"x":329.0238037109375,"y":265.66668701171875,"wires":[["8f0448c4.34f778","22b92ec9.84c80a"]]},{"id":"b68895aa.c79ee8","type":"function","z":"9d55930c.9acd","name":"Extract amplitiude","func":"msg.payload = msg.payload.d.Magnitude;\nmsg.topic = \"Amplitude\";\nreturn msg;","outputs":1,"noerr":0,"x":319.73809814453125,"y":193.23809814453125,"wires":[["60cf4d3e.b9f0e4"]]},{"id":"f6306e46.3b1ee8","type":"debug","z":"9d55930c.9acd","name":"","active":false,"console":"false","complete":"false","x":118.73809814453125,"y":52.809539794921875,"wires":[]},{"id":"58e00522.ff3944","type":"function","z":"9d55930c.9acd","name":"Extract temperature","func":"msg.payload = msg.payload.d.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":328.5389404296875,"y":229.48455810546875,"wires":[["7eedce31.7c3e6"]]},{"id":"7eedce31.7c3e6","type":"ui_gauge","z":"9d55930c.9acd","name":"","group":"85f5b8a7.0391d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":777.8367919921875,"y":236.28326416015625,"wires":[]},{"id":"96a5f364.c81a98","type":"switch","z":"9d55930c.9acd","name":"","property":"payload.d.Freq","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":275,"y":109,"wires":[["78c2692d.ab21c8"],["78cca71a.55c558"]]},{"id":"1028600c.cff4e8","type":"delay","z":"9d55930c.9acd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":557.1846313476562,"y":60.085235595703125,"wires":[["cf8c0742.60c01"]]},{"id":"22b92ec9.84c80a","type":"ui_chart","z":"9d55930c.9acd","name":"Frequency","group":"4c123126.3ba278","order":2,"width":0,"height":0,"label":"Frequency","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":778,"y":303,"wires":[[],[]]},{"id":"fbb1dadb.3d9e4","type":"ui_dropdown","z":"9d55930c.9acd","name":"","label":"","place":"Select option","group":"4816edd.08f4714","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":427,"y":505.25,"wires":[["f79aa30.7fdd6e"]]},{"id":"6c69defc.a6fa48","type":"function","z":"9d55930c.9acd","name":"Manage list of devices reporting","func":"if (typeof(context.global.devicelist) == 'undefined' || context.global.devicelist.length === 0) {\n    context.global.devicelist = [msg.payload.d.MAC];\n    context.global.device = msg.payload.d.MAC;\n    found = false; // Device list has changed\n}\nelse {\n    found = false;\n    for (var i = 0; i < context.global.devicelist.length; i++) {\n        if (context.global.devicelist[i] === msg.payload.d.MAC) {\n            found = true; // No change to device list\n            break;\n        }\n    }\n    if (found === false)\n        context.global.devicelist.push(msg.payload.d.MAC);\n}\nvar m1;\nif (!found)\n    m1 = {'options' : context.global.devicelist, 'payload' : context.global.device};\nelse\n    m1 = null; //No change to list of devices - nothing to do\nreturn [msg, m1]; // msg goes on to display the data, m1 updates the device list drop down","outputs":"2","noerr":0,"x":167,"y":474,"wires":[["ea272b5e.d069d8"],["fbb1dadb.3d9e4"]]},{"id":"1bb2adf0.f162d2","type":"function","z":"9d55930c.9acd","name":"","func":"msg.payload = context.global.devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":667,"wires":[["19d24553.14ce43"]]},{"id":"2c8726ca.516062","type":"inject","z":"9d55930c.9acd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":671.5,"wires":[["1bb2adf0.f162d2"]]},{"id":"19d24553.14ce43","type":"debug","z":"9d55930c.9acd","name":"","active":true,"console":"false","complete":"false","x":446,"y":665.75,"wires":[]},{"id":"9484c364.f267d8","type":"inject","z":"9d55930c.9acd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":634.5,"wires":[["e7270e75.c59b7"]]},{"id":"e7270e75.c59b7","type":"function","z":"9d55930c.9acd","name":"Clear sensor list","func":"context.global.devicelist = [];\ncontext.global.device = '';\nmsg.options = [];\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":630,"wires":[["fbb1dadb.3d9e4","f79aa30.7fdd6e"]]},{"id":"f79aa30.7fdd6e","type":"function","z":"9d55930c.9acd","name":"Changed Selection","func":"context.global.device = msg.payload;\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":442,"wires":[["75cb31bb.283b9","7eedce31.7c3e6","8f0448c4.34f778","44eb319f.3961b"]]},{"id":"ea272b5e.d069d8","type":"function","z":"9d55930c.9acd","name":"Filter for currently selected device","func":"if (typeof(context.global.device) !== 'undefined' && msg.payload.d.MAC == context.global.device)\n    return msg;","outputs":1,"noerr":0,"x":264,"y":394,"wires":[["58e00522.ff3944","b68895aa.c79ee8","b0eb55e0.947208","96a5f364.c81a98","e1345ff0.6b56f"]]},{"id":"75cb31bb.283b9","type":"ui_text","z":"9d55930c.9acd","group":"4c123126.3ba278","order":3,"width":0,"height":0,"name":"Volts","label":"Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":758,"y":335.75,"wires":[]},{"id":"e1345ff0.6b56f","type":"function","z":"9d55930c.9acd","name":"Extract voltage","func":"msg.payload = msg.payload.d.Volts;\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":306,"wires":[["75cb31bb.283b9"]]},{"id":"44eb319f.3961b","type":"function","z":"9d55930c.9acd","name":"Zero graphs","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":355.5,"wires":[["60cf4d3e.b9f0e4","22b92ec9.84c80a","cf8c0742.60c01"]]},{"id":"852b0de3.e310b","type":"ui_button","z":"9d55930c.9acd","name":"","group":"4816edd.08f4714","order":2,"width":0,"height":0,"label":"Clear List","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":598.25,"wires":[["e7270e75.c59b7"]]},{"id":"23b2fbd3.587b7c","type":"comment","z":"9d55930c.9acd","name":"Don't zero it out too fast...!","info":"","x":549.5,"y":23.75,"wires":[]},{"id":"e22be93e.97df8","type":"comment","z":"9d55930c.9acd","name":"Combines adjacent array elements","info":"","x":494.5,"y":121.75,"wires":[]},{"id":"85f5b8a7.0391d8","type":"ui_group","z":"","name":"Analysis","tab":"2ddc1af9.a75b8e","order":2,"disp":true,"width":"6"},{"id":"1c1499a4.949a2e","type":"ibmiot","z":"","name":"azztea","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"4c123126.3ba278","type":"ui_group","z":"","name":"Primary Frequency","tab":"2ddc1af9.a75b8e","order":3,"disp":true,"width":"6"},{"id":"4816edd.08f4714","type":"ui_group","z":"","name":"Select Sensor","tab":"2ddc1af9.a75b8e","order":1,"disp":true,"width":"6"},{"id":"2ddc1af9.a75b8e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]
